In [1]:
import pandas as pd

In [2]:
train_data = pd.read_feather("train_data.ftr")

In [3]:
train_data.head()
train_data.shape

(5531451, 190)

In [15]:
train_data_2 = train_data[["customer_ID","S_2","D_48", "B_18","B_2","B_9","D_44","D_75","D_55","B_33","D_58","B_7","B_3","B_23","D_74","B_4","B_16","B_1","B_19","B_37","B_20","S_7","S_3","R_3", "R_27", "R_2"]]
train_data_2.head()

,customer_ID,S_2,D_48,B_18,B_2,B_9,D_44,D_75,D_55,B_33,...,B_16,B_1,B_19,B_37,B_20,S_7,S_3,R_3,R_27,R_2
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-03-09,0.255615,0.652832,1.006836,0.008209,0.000630,0.069092,0.354492,1.000977,...,0.007664,0.008728,0.008522,0.004570,0.004730,0.161377,0.124023,0.001423,1.008789,0.006203
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-04-07,0.223389,0.646973,1.000977,0.008369,0.002525,0.074158,0.326660,1.006836,...,0.007149,0.004925,0.002237,0.004654,0.003880,0.140991,0.126709,0.001984,1.002930,0.006207
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-05-28,0.189453,0.645996,1.009766,0.009354,0.007607,0.076538,0.304199,1.000977,...,0.003637,0.021652,0.000408,0.019180,0.004578,0.112244,0.123962,0.007427,1.000977,0.003260
3,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-06-13,0.135620,0.654297,1.002930,0.006783,0.006405,0.071533,0.275146,1.002930,...,0.005894,0.013687,0.005898,0.011719,0.005207,0.102844,0.117188,0.003515,1.004883,0.009918
4,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-07-16,NaN,0.649902,1.000977,0.000519,0.007732,0.074463,0.231079,1.006836,...,0.001715,0.015190,0.007774,0.017593,0.005852,0.094299,0.117310,0.001362,1.002930,0.006668

In [16]:
train_data_3 = train_data_2.sort_values(['customer_ID', 'S_2'], ascending = [True, False])
train_data_3.head()

,customer_ID,S_2,D_48,B_18,B_2,B_9,D_44,D_75,D_55,B_33,...,B_16,B_1,B_19,B_37,B_20,S_7,S_3,R_3,R_27,R_2
12,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2018-03-13,0.192383,1.007812,1.007812,0.009537,0.003258,0.001352,0.187256,1.007812,...,0.006409,0.009384,0.005276,0.008675,0.007629,0.105652,0.135010,0.000085,1.005859,0.008308
11,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2018-02-21,0.237183,1.004883,1.008789,0.001063,0.005108,0.009682,0.196533,1.003906,...,0.005604,0.019836,0.007416,0.018707,0.009712,0.077332,0.102966,0.009850,1.003906,0.001436
10,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2018-01-11,0.325684,1.006836,1.004883,0.006718,0.002390,0.009895,0.194214,1.005859,...,0.008575,0.002829,0.009857,0.006466,0.007290,0.078369,0.098877,0.008522,1.008789,0.004314
9,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-12-04,0.403564,1.007812,1.007812,0.007080,0.007595,0.004539,0.186768,1.000977,...,0.000227,0.001930,0.004829,0.008904,0.004406,0.074646,0.100464,0.006371,1.000000,0.001795
8,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-11-20,0.189331,1.007812,1.003906,0.006821,0.002579,0.000035,0.160034,1.002930,...,0.003529,0.016891,0.002291,0.025009,0.005569,0.077209,0.102783,0.001727,1.006836,0.009842

In [17]:
train_data_4 = train_data_3.drop_duplicates(subset=["customer_ID"], keep="first")
train_data_4.head()

,customer_ID,S_2,D_48,B_18,B_2,B_9,D_44,D_75,D_55,B_33,...,B_16,B_1,B_19,B_37,B_20,S_7,S_3,R_3,R_27,R_2
12,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2018-03-13,0.192383,1.007812,1.007812,0.009537,0.003258,0.001352,0.187256,1.007812,...,0.006409,0.009384,0.005276,0.008675,0.007629,0.105652,0.135010,0.000085,1.005859,0.008308
25,00000fd6641609c6ece5454664794f0340ad84dddce9a2...,2018-03-25,0.014694,1.003906,1.003906,0.012924,0.008781,0.009598,0.036102,1.000977,...,0.002939,0.034698,0.008049,0.032898,0.004318,0.208496,0.165527,0.102051,1.007812,0.004978
38,00001b22f846c82c51f6e3958ccd81970162bae8b007e8...,2018-03-12,0.080383,1.003906,0.812500,0.009392,0.000628,0.003328,0.098938,1.000977,...,0.007835,0.004284,0.005951,0.004723,0.002834,NaN,NaN,0.006264,1.002930,0.001687
51,000041bdba6ecadd89a52d11886e8eaaec9325906c9723...,2018-03-29,NaN,1.006836,1.005859,0.020523,0.007793,0.005505,0.021393,1.009766,...,0.089172,0.012566,0.007713,0.007374,0.008560,0.279541,0.287842,0.204346,1.004883,0.004238
64,00007889e4fcd2614b6cbe7f8f3d2e5c728eca32d9eb8a...,2018-03-30,0.325195,0.531250,0.815918,0.004028,0.002436,0.142578,0.254150,1.007812,...,0.005096,0.007679,0.006706,0.007786,0.008804,NaN,NaN,0.000050,1.006836,0.001991

In [18]:
train_data_4.shape

(458913, 26)

In [19]:
train_data_label = pd.read_csv("train_labels.csv")
train_data_label.head()

                                         customer_ID  target
0  0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...       0
1  00000fd6641609c6ece5454664794f0340ad84dddce9a2...       0
2  00001b22f846c82c51f6e3958ccd81970162bae8b007e8...       0
3  000041bdba6ecadd89a52d11886e8eaaec9325906c9723...       0
4  00007889e4fcd2614b6cbe7f8f3d2e5c728eca32d9eb8a...       0

In [20]:
train_data_final = pd.merge(train_data_4,train_data_label,how="left",on="customer_ID")

In [21]:
train_data_final.head()

,customer_ID,S_2,D_48,B_18,B_2,B_9,D_44,D_75,D_55,B_33,...,B_1,B_19,B_37,B_20,S_7,S_3,R_3,R_27,R_2,target
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2018-03-13,0.192383,1.007812,1.007812,0.009537,0.003258,0.001352,0.187256,1.007812,...,0.009384,0.005276,0.008675,0.007629,0.105652,0.135010,0.000085,1.005859,0.008308,0
1,00000fd6641609c6ece5454664794f0340ad84dddce9a2...,2018-03-25,0.014694,1.003906,1.003906,0.012924,0.008781,0.009598,0.036102,1.000977,...,0.034698,0.008049,0.032898,0.004318,0.208496,0.165527,0.102051,1.007812,0.004978,0
2,00001b22f846c82c51f6e3958ccd81970162bae8b007e8...,2018-03-12,0.080383,1.003906,0.812500,0.009392,0.000628,0.003328,0.098938,1.000977,...,0.004284,0.005951,0.004723,0.002834,NaN,NaN,0.006264,1.002930,0.001687,0
3,000041bdba6ecadd89a52d11886e8eaaec9325906c9723...,2018-03-29,NaN,1.006836,1.005859,0.020523,0.007793,0.005505,0.021393,1.009766,...,0.012566,0.007713,0.007374,0.008560,0.279541,0.287842,0.204346,1.004883,0.004238,0
4,00007889e4fcd2614b6cbe7f8f3d2e5c728eca32d9eb8a...,2018-03-30,0.325195,0.531250,0.815918,0.004028,0.002436,0.142578,0.254150,1.007812,...,0.007679,0.006706,0.007786,0.008804,NaN,NaN,0.000050,1.006836,0.001991,0

In [22]:
X_train = train_data_final[["customer_ID", "D_48", "B_18","B_2","B_9","D_44","D_75","D_55","B_33","D_58","B_7","B_3","B_23","D_74","B_4","B_16","B_1","B_19","B_37","B_20","S_7","S_3","R_3", "R_27", "R_2"]]
X_train.isnull().sum()

customer_ID        0
D_48           57992
B_18               0
B_2               31
B_9                0
D_44           22295
D_75               0
D_55           30377
B_33              31
D_58               0
B_7                0
B_3               31
B_23               0
D_74            1701
B_4                0
B_16              31
B_1                0
B_19              31
B_37               0
B_20              31
S_7            84970
S_3            84970
R_3                0
R_27           28736
R_2                0
dtype: int64

In [23]:
!pip install xgboost

Collecting xgboost
  Downloading xgboost-1.6.1-py3-none-manylinux2014_x86_64.whl (192.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 192.9/192.9 MB 13.4 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: numpy in /opt/conda/lib/python3.10/site-packages (from xgboost) (1.22.4)
Requirement already satisfied: scipy in /opt/conda/lib/python3.10/site-packages (from xgboost) (1.8.1)
Installing collected packages: xgboost
Successfully installed xgboost-1.6.1

In [24]:
from numpy import loadtxt
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [25]:
X_train_final = X_train[["D_48", "B_18","B_2","B_9","D_44","D_75","D_55","B_33","D_58","B_7","B_3","B_23","D_74","B_4","B_16","B_1","B_19","B_37","B_20","S_7","S_3","R_3", "R_27", "R_2"]]
y_train = train_data_final[["target"]]

model = XGBClassifier()
model.fit(X_train_final, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
              importance_type=None, interaction_constraints='',
              learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
              max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
              missing=nan, monotone_constraints='()', n_estimators=100,
              n_jobs=0, num_parallel_tree=1, predictor='auto', random_state=0,
              reg_alpha=0, reg_lambda=1, ...)

In [26]:
test_data = pd.read_feather("test_data.ftr")

In [27]:
test_data_1 = test_data[["customer_ID", "S_2", "D_48", "B_18","B_2","B_9","D_44","D_75","D_55","B_33","D_58","B_7","B_3","B_23","D_74","B_4","B_16","B_1","B_19","B_37","B_20","S_7","S_3","R_3", "R_27", "R_2"]].sort_values(['customer_ID', 'S_2'], ascending = [True, False])
test_data_2 = test_data_1.drop_duplicates(subset=["customer_ID"], keep="first")
test_data_2.isnull().sum()

customer_ID         0
S_2                 0
D_48           116986
B_18                0
B_2                43
B_9                 0
D_44            44612
D_75                0
D_55            60438
B_33               43
D_58                0
B_7                 0
B_3                43
B_23                0
D_74             4179
B_4                 0
B_16               43
B_1                 0
B_19               43
B_37              834
B_20               43
S_7            144280
S_3            144280
R_3                 0
R_27            51391
R_2                 0
dtype: int64

In [30]:
test_out_1 = model.predict_proba(test_data_2[["D_48", "B_18","B_2","B_9","D_44","D_75","D_55","B_33","D_58","B_7","B_3","B_23","D_74","B_4","B_16","B_1","B_19","B_37","B_20","S_7","S_3","R_3", "R_27", "R_2"]])
test_out_1

array([[0.96538025, 0.03461972],
       [0.9984323 , 0.00156772],
       [0.95663166, 0.04336835],
       ...,
       [0.45179135, 0.54820865],
       [0.6723351 , 0.3276649 ],
       [0.9914613 , 0.00853875]], dtype=float32)

In [32]:
test_out_2 = pd.DataFrame(test_out_1,columns=["1_minus_pred","prediction"])
test_out_2.head()

   1_minus_pred  prediction
0      0.965380    0.034620
1      0.998432    0.001568
2      0.956632    0.043368
3      0.639343    0.360657
4      0.071620    0.928380

In [33]:
X_test_2 = test_data_2[["customer_ID"]]

cus = X_test_2["customer_ID"].reset_index()
pred = test_out_2["prediction"]

test_out_3 = pd.concat([cus["customer_ID"],pred],ignore_index=True,axis=1)
test_out_3.rename(columns = {0:'customer_ID', 1:'prediction'}, inplace = True)

test_out_3.head()

                                         customer_ID  prediction
0  00000469ba478561f23a92a868bd366de6f6527a684c9a...    0.034620
1  00001bf2e77ff879fab36aa4fac689b9ba411dae63ae39...    0.001568
2  0000210045da4f81e5f122c6bde5c2a617d03eef67f82c...    0.043368
3  00003b41e58ede33b8daf61ab56d9952f17c9ad1c3976c...    0.360657
4  00004b22eaeeeb0ec976890c1d9bfc14fd9427e98c4ee9...    0.928380

In [36]:
test_out_3.to_csv("Submission_XGboost_LatestDate.csv", index=False)

In [37]:
!kaggle competitions submit -c amex-default-prediction -f Submission_XGboost_LatestDate.csv -m "Message"

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /home/jovyan/.kaggle/kaggle.json'
100%|██████████████████████████████████████| 67.5M/67.5M [00:04<00:00, 14.6MB/s]
Successfully submitted to American Express - Default Prediction