In [2]:
import pandas as pd

In [3]:
train_data = pd.read_feather("train_data.ftr")

In [4]:
train_data.head()
train_data.shape

(5531451, 190)

In [6]:
train_data_2 = train_data[["customer_ID","S_2","D_48", "B_18","B_2","B_9","D_44","D_75","D_55","B_33","D_58","B_7","B_3","B_23","D_74","B_4","B_16","B_1","B_19","B_37","B_20","B_22","B_11","R_1","D_62","D_42","D_77","S_7","B_8","S_3","D_61","D_70","R_3", "D_43","D_47","R_27", "B_17","D_45","D_78","R_2"
]]
train_data_2.head()

,customer_ID,S_2,D_48,B_18,B_2,B_9,D_44,D_75,D_55,B_33,...,D_61,D_70,R_3,D_43,D_47,R_27,B_17,D_45,D_78,R_2
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-03-09,0.255615,0.652832,1.006836,0.008209,0.000630,0.069092,0.354492,1.000977,...,0.308350,0.008339,0.001423,NaN,0.525391,1.008789,NaN,0.708984,0.001575,0.006203
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-04-07,0.223389,0.646973,1.000977,0.008369,0.002525,0.074158,0.326660,1.006836,...,0.265137,0.006523,0.001984,NaN,0.521484,1.002930,NaN,0.712891,0.009895,0.006207
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-05-28,0.189453,0.645996,1.009766,0.009354,0.007607,0.076538,0.304199,1.000977,...,0.212158,0.002615,0.007427,NaN,0.524414,1.000977,NaN,0.720703,0.009628,0.003260
3,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-06-13,0.135620,0.654297,1.002930,0.006783,0.006405,0.071533,0.275146,1.002930,...,0.204346,0.002052,0.003515,NaN,0.530762,1.004883,NaN,0.724121,0.008568,0.009918
4,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-07-16,NaN,0.649902,1.000977,0.000519,0.007732,0.074463,0.231079,1.006836,...,0.175659,0.001419,0.001362,NaN,0.529297,1.002930,NaN,0.720703,0.003288,0.006668

In [7]:
train_data_3 = train_data_2.sort_values(['customer_ID', 'S_2'], ascending = [True, False])
train_data_3.head()

,customer_ID,S_2,D_48,B_18,B_2,B_9,D_44,D_75,D_55,B_33,...,D_61,D_70,R_3,D_43,D_47,R_27,B_17,D_45,D_78,R_2
12,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2018-03-13,0.192383,1.007812,1.007812,0.009537,0.003258,0.001352,0.187256,1.007812,...,0.227661,0.008255,0.000085,NaN,0.539551,1.005859,NaN,0.740234,0.000747,0.008308
11,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2018-02-21,0.237183,1.004883,1.008789,0.001063,0.005108,0.009682,0.196533,1.003906,...,0.228149,0.008652,0.009850,NaN,0.538086,1.003906,NaN,0.740234,0.008736,0.001436
10,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2018-01-11,0.325684,1.006836,1.004883,0.006718,0.002390,0.009895,0.194214,1.005859,...,0.383545,0.003769,0.008522,NaN,0.538086,1.008789,NaN,0.729980,0.002268,0.004314
9,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-12-04,0.403564,1.007812,1.007812,0.007080,0.007595,0.004539,0.186768,1.000977,...,0.181274,0.008972,0.006371,NaN,0.541992,1.000000,NaN,0.734863,0.008339,0.001795
8,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-11-20,0.189331,1.007812,1.003906,0.006821,0.002579,0.000035,0.160034,1.002930,...,0.177124,0.007534,0.001727,NaN,0.539062,1.006836,NaN,0.730957,0.000036,0.009842

In [8]:
train_data_4 = train_data_3.drop_duplicates(subset=["customer_ID"], keep="first")
train_data_4.head()

,customer_ID,S_2,D_48,B_18,B_2,B_9,D_44,D_75,D_55,B_33,...,D_61,D_70,R_3,D_43,D_47,R_27,B_17,D_45,D_78,R_2
12,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2018-03-13,0.192383,1.007812,1.007812,0.009537,0.003258,0.001352,0.187256,1.007812,...,0.227661,0.008255,0.000085,NaN,0.539551,1.005859,NaN,0.740234,0.000747,0.008308
25,00000fd6641609c6ece5454664794f0340ad84dddce9a2...,2018-03-25,0.014694,1.003906,1.003906,0.012924,0.008781,0.009598,0.036102,1.000977,...,0.048981,0.000883,0.102051,0.060638,0.402100,1.007812,NaN,0.266357,0.001541,0.004978
38,00001b22f846c82c51f6e3958ccd81970162bae8b007e8...,2018-03-12,0.080383,1.003906,0.812500,0.009392,0.000628,0.003328,0.098938,1.000977,...,0.137817,0.006100,0.006264,NaN,0.339111,1.002930,NaN,0.251709,0.002991,0.001687
51,000041bdba6ecadd89a52d11886e8eaaec9325906c9723...,2018-03-29,NaN,1.006836,1.005859,0.020523,0.007793,0.005505,0.021393,1.009766,...,0.026840,0.006016,0.204346,0.046112,0.414307,1.004883,1.007812,0.085083,0.007305,0.004238
64,00007889e4fcd2614b6cbe7f8f3d2e5c728eca32d9eb8a...,2018-03-30,0.325195,0.531250,0.815918,0.004028,0.002436,0.142578,0.254150,1.007812,...,0.600586,0.001121,0.000050,0.044678,0.480225,1.006836,NaN,0.069946,0.007473,0.001991

In [9]:
train_data_4.shape

(458913, 40)

In [10]:
train_data_label = pd.read_csv("train_labels.csv")
train_data_label.head()

                                         customer_ID  target
0  0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...       0
1  00000fd6641609c6ece5454664794f0340ad84dddce9a2...       0
2  00001b22f846c82c51f6e3958ccd81970162bae8b007e8...       0
3  000041bdba6ecadd89a52d11886e8eaaec9325906c9723...       0
4  00007889e4fcd2614b6cbe7f8f3d2e5c728eca32d9eb8a...       0

In [11]:
train_data_final = pd.merge(train_data_4,train_data_label,how="left",on="customer_ID")

In [12]:
train_data_final.head()

,customer_ID,S_2,D_48,B_18,B_2,B_9,D_44,D_75,D_55,B_33,...,D_70,R_3,D_43,D_47,R_27,B_17,D_45,D_78,R_2,target
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2018-03-13,0.192383,1.007812,1.007812,0.009537,0.003258,0.001352,0.187256,1.007812,...,0.008255,0.000085,NaN,0.539551,1.005859,NaN,0.740234,0.000747,0.008308,0
1,00000fd6641609c6ece5454664794f0340ad84dddce9a2...,2018-03-25,0.014694,1.003906,1.003906,0.012924,0.008781,0.009598,0.036102,1.000977,...,0.000883,0.102051,0.060638,0.402100,1.007812,NaN,0.266357,0.001541,0.004978,0
2,00001b22f846c82c51f6e3958ccd81970162bae8b007e8...,2018-03-12,0.080383,1.003906,0.812500,0.009392,0.000628,0.003328,0.098938,1.000977,...,0.006100,0.006264,NaN,0.339111,1.002930,NaN,0.251709,0.002991,0.001687,0
3,000041bdba6ecadd89a52d11886e8eaaec9325906c9723...,2018-03-29,NaN,1.006836,1.005859,0.020523,0.007793,0.005505,0.021393,1.009766,...,0.006016,0.204346,0.046112,0.414307,1.004883,1.007812,0.085083,0.007305,0.004238,0
4,00007889e4fcd2614b6cbe7f8f3d2e5c728eca32d9eb8a...,2018-03-30,0.325195,0.531250,0.815918,0.004028,0.002436,0.142578,0.254150,1.007812,...,0.001121,0.000050,0.044678,0.480225,1.006836,NaN,0.069946,0.007473,0.001991,0

In [13]:
X_train = train_data_final[["customer_ID", "D_48", "B_18","B_2","B_9","D_44","D_75","D_55","B_33","D_58","B_7","B_3","B_23","D_74","B_4","B_16","B_1","B_19","B_37","B_20","B_22","B_11","R_1","D_62","D_42","D_77","S_7","B_8","S_3","D_61","D_70","R_3", "D_43","D_47","R_27", "B_17","D_45","D_78","R_2"]]
X_train.isnull().sum()

customer_ID         0
D_48            57992
B_18                0
B_2                31
B_9                 0
D_44            22295
D_75                0
D_55            30377
B_33               31
D_58                0
B_7                 0
B_3                31
B_23                0
D_74             1701
B_4                 0
B_16               31
B_1                 0
B_19               31
B_37                0
B_20               31
B_22               31
B_11                0
R_1                 0
D_62            58953
D_42           399003
D_77           213837
S_7             84970
B_8              4091
S_3             84970
D_61            48348
D_70             4196
R_3                 0
D_43           134322
D_47                0
R_27            28736
B_17           244471
D_45               31
D_78            22295
R_2                 0
dtype: int64

In [23]:
!pip install xgboost

Collecting xgboost
  Downloading xgboost-1.6.1-py3-none-manylinux2014_x86_64.whl (192.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 192.9/192.9 MB 13.4 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: numpy in /opt/conda/lib/python3.10/site-packages (from xgboost) (1.22.4)
Requirement already satisfied: scipy in /opt/conda/lib/python3.10/site-packages (from xgboost) (1.8.1)
Installing collected packages: xgboost
Successfully installed xgboost-1.6.1

In [14]:
from numpy import loadtxt
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [15]:
X_train_final = X_train[["D_48", "B_18","B_2","B_9","D_44","D_75","D_55","B_33","D_58","B_7","B_3","B_23","D_74","B_4","B_16","B_1","B_19","B_37","B_20","B_22","B_11","R_1","D_62","D_42","D_77","S_7","B_8","S_3","D_61","D_70","R_3", "D_43","D_47","R_27", "B_17","D_45","D_78","R_2"
]]
y_train = train_data_final[["target"]]

model = XGBClassifier()
model.fit(X_train_final, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
              importance_type=None, interaction_constraints='',
              learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
              max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
              missing=nan, monotone_constraints='()', n_estimators=100,
              n_jobs=0, num_parallel_tree=1, predictor='auto', random_state=0,
              reg_alpha=0, reg_lambda=1, ...)

In [16]:
test_data = pd.read_feather("test_data.ftr")

In [17]:
test_data_1 = test_data[["customer_ID", "S_2", "D_48", "B_18","B_2","B_9","D_44","D_75","D_55","B_33","D_58","B_7","B_3","B_23","D_74","B_4","B_16","B_1","B_19","B_37","B_20","B_22","B_11","R_1","D_62","D_42","D_77","S_7","B_8","S_3","D_61","D_70","R_3", "D_43","D_47","R_27", "B_17","D_45","D_78","R_2"]].sort_values(['customer_ID', 'S_2'], ascending = [True, False])
test_data_2 = test_data_1.drop_duplicates(subset=["customer_ID"], keep="first")
test_data_2.isnull().sum()

customer_ID         0
S_2                 0
D_48           116986
B_18                0
B_2                43
B_9                 0
D_44            44612
D_75                0
D_55            60438
B_33               43
D_58                0
B_7                 0
B_3                43
B_23                0
D_74             4179
B_4                 0
B_16               43
B_1                 0
B_19               43
B_37              834
B_20               43
B_22               43
B_11                0
R_1                 0
D_62           154713
D_42           827578
D_77           464536
S_7            144280
B_8             12384
S_3            144280
D_61           101585
D_70             9205
R_3                 0
D_43           272218
D_47                0
R_27            51391
B_17           482036
D_45               45
D_78            44612
R_2                 0
dtype: int64

In [19]:
test_out_1 = model.predict_proba(test_data_2[["D_48", "B_18","B_2","B_9","D_44","D_75","D_55","B_33","D_58","B_7","B_3","B_23","D_74","B_4","B_16","B_1","B_19","B_37","B_20","B_22","B_11","R_1","D_62","D_42","D_77","S_7","B_8","S_3","D_61","D_70","R_3", "D_43","D_47","R_27", "B_17","D_45","D_78","R_2"]])
test_out_1

array([[9.2713434e-01, 7.2865687e-02],
       [9.9906605e-01, 9.3394582e-04],
       [9.2219442e-01, 7.7805556e-02],
       ...,
       [3.1277478e-01, 6.8722522e-01],
       [7.3910218e-01, 2.6089782e-01],
       [9.5405573e-01, 4.5944247e-02]], dtype=float32)

In [20]:
test_out_2 = pd.DataFrame(test_out_1,columns=["1_minus_pred","prediction"])
test_out_2.head()

   1_minus_pred  prediction
0      0.927134    0.072866
1      0.999066    0.000934
2      0.922194    0.077806
3      0.581838    0.418162
4      0.040101    0.959899

In [21]:
X_test_2 = test_data_2[["customer_ID"]]

cus = X_test_2["customer_ID"].reset_index()
pred = test_out_2["prediction"]

test_out_3 = pd.concat([cus["customer_ID"],pred],ignore_index=True,axis=1)
test_out_3.rename(columns = {0:'customer_ID', 1:'prediction'}, inplace = True)

test_out_3.head()

                                         customer_ID  prediction
0  00000469ba478561f23a92a868bd366de6f6527a684c9a...    0.072866
1  00001bf2e77ff879fab36aa4fac689b9ba411dae63ae39...    0.000934
2  0000210045da4f81e5f122c6bde5c2a617d03eef67f82c...    0.077806
3  00003b41e58ede33b8daf61ab56d9952f17c9ad1c3976c...    0.418162
4  00004b22eaeeeb0ec976890c1d9bfc14fd9427e98c4ee9...    0.959899

In [22]:
test_out_3.to_csv("Submission_XGboost_LatestDate_All_Var.csv", index=False)

In [23]:
!kaggle competitions submit -c amex-default-prediction -f Submission_XGboost_LatestDate_All_Var.csv -m "Message"

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /home/jovyan/.kaggle/kaggle.json'
100%|██████████████████████████████████████| 67.5M/67.5M [00:04<00:00, 14.3MB/s]
Successfully submitted to American Express - Default Prediction